{# On remplit la template base.html #}
{% extends 'base.html.twig' %}

{# On remplit le titre de la template #}
{% block title %}entreprise{% endblock %}

{# On remplit le corps de la template #}
{% block body %}

<div class="container">
<h2 style="padding-bottom:25px;"> Stages classés par entreprise </h2>
<table class="table table-striped table-bordered">
<thead>
  <tr>
    <th scope="col">Titre</th>
    <th scope="col">Nom de l'entreprise</th>
    <th scope="col">Formation</th>
    <th scope="col">Email</th>
    <th scope="col">Adresse de l'entreprise</th>
    <th scope="col">Details</th>
  </tr>
</thead>
<tbody>
  {% for entreprise in entreprises %}
    {% for stage in entreprise.stages %}
  <tr>
    <th scope="row">{{ stage.titre }}</th>
    <td><a href="{{ path('stageEntreprise', {'nomEntreprise': stage.entreprise.nom}) }}" >{{ stage.entreprise.nom }}</a></td>
    <td>{% for formation in stage.formations %} <a href="{{ path('stageFormation', {'nomFormation': formation.titre}) }}" >{{ formation.titre }}</a> | {% endfor %}</td>
    <td>{{ stage.email }}</td>
    <td>{{ stage.entreprise.adresse }}</td>
    <td><a  class="btn" style="background-color:#0068FF;color:white;" href="{{ path('stage', {'id': stage.id}) }}">détails</a></td>
  </tr>
    {% endfor %}
  {% endfor %}
</tbody>
</table>
</div>

{% endblock %}
