{# On remplit la template base.html #}
{% extends 'base.html.twig' %}

{# On remplit le titre de la template #}
{% block title %}formation{% endblock %}

{# On remplit le corps de la template #}
{% block body %}

<div class="container">
<h1> Classé par formation </h1>
<table class="table">
<thead>
  <tr>
    <th scope="col">Titre</th>
    <th scope="col">Nom de l'entreprise</th>
    <th scope="col">Formation</th>
    <th scope="col">Email</th>
    <th scope="col">Adresse de l'entreprise</th>
    <th scope="col">Details</th>
  </tr>
</thead>
<tbody>
  {% for formation in formations %}
    {% for stage in formation.stages %}
  <tr>
    <th scope="row">{{ stage.titre }}</th>
    <td>{{ stage.entreprise.nom }}</td>
    <td>{{ formation.titre }}</td>
    <td>{{ stage.email }}</td>
    <td>{{ stage.entreprise.adresse }}</td>
    <td><a href="{{ path('stage', {'id': 5}) }}">detail</a></td>
  </tr>
    {% endfor %}
  {% endfor %}
</tbody>
</table>
</div>

{% endblock %}
