{# On remplit la template base.html #}
{% extends 'base.html.twig' %}

{# On remplit le titre de la template #}
{% block title %}Accueil{% endblock %}

{# On remplit le corps de la template #}
{% block body %}

<div class="container">
<h2 style="padding-bottom:25px;"> Tous les stages disponible sur la plateforme</h2>
<table class="table table-striped table-bordered" >
<thead >
  <tr>
    <th scope="col">Titre</th>
    <th scope="col">Nom de l'entreprise</th>
    <th scope="col">Formation</th>
    <th scope="col">Email</th>
    <th scope="col">Adresse de l'entreprise</th>
    <th scope="col"></th>
  </tr>
</thead>
<tbody>
  {% for stage in stages %}
  <tr>
    <th scope="row">{{ stage.titre }}</th>
    <td>{{ stage.entreprise.nom }}</td>
    <td>{% for formation in stage.formations %} <a href="{{ path('stageFormation', {'id': formation.id}) }}" >{{ formation.titre }}</a> | {% endfor %}</td>
    <td>{{ stage.email }}</td>
    <td>{{ stage.entreprise.adresse }}</td>
    <td><a  class="btn" style="background-color:#0068FF;color:white;" href="{{ path('stage', {'id': stage.id}) }}">détails</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>

{% endblock %}
