{# On remplit la template base.html #}
{% extends 'base.html.twig' %}

{# On remplit le titre de la template #}
{% block title %}Stage{% endblock %}

{# On remplit le corps de la template #}
{% block body %}

  <!-- Description du stage -->
  <div class="container">
  <h2 style="padding-bottom:25px;">Stage</h2>
  <ul>
    <li>Titre : {{ stage.titre }}</li>
    <li>Entreprise : <a href="{{ path('stageEntreprise', {'nomEntreprise': stage.entreprise.nom}) }}" >{{ stage.entreprise.nom }}<a></li>
    <li>Formation(s) : {% for formation in stage.formations %}<a href="{{ path('stageFormation', {'nomFormation': formation.titre}) }}" >{{ formation.titre }}</a> | {% endfor %}</li>
    <li>Email : {{ stage.email }}</li>
    <li>Adresse : {{ stage.entreprise.adresse }}</li>
    <li>Activité : {{ stage.activite }}</li>
  </ul>

  </div>

{% endblock %}
