{# On remplit la template base.html #}
{% extends 'base.html.twig' %}

{# On remplit le titre de la template #}
{% block title %}Stage{% endblock %}

{# On remplit le corps de la template #}
{% block body %}

  <!-- Description du stage -->
  <div class="container">
  <h1>{{ stage.titre }}</h1>
  <ul>
    <li>Entreprise : {{ stage.entreprise.nom }}</li>
    <li>Formation(s) : {% for formation in stage.formations %} {{ formation.titre }} | {% endfor %}</li>
    <li>Email : {{ stage.email }}</li>
    <li>Adresse : {{ stage.entreprise.adresse }}</li>
  </ul>
  <h3> {{ stage.activite }} </h3>
  <p> </p>
  </div>

{% endblock %}
